<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/htmx/html.min.js"></script>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello in my server</h1>
        <div class="article-button" hx-get="/articles" hx-swap="outerHTML">
            Get articles!
        </div>
        <form hx-post="/articles" hx-swap="outerHTML" hx-trigger="submit">
            <input type="text" name="keyword" placeholder="keyword">
            <button type="submit">Get by KeyName!</button>
        </form>
    </body>
</html>
